<div class="ui segment">
  <h1>Totals</h1>
  <div class="ui grid">


    <div class="row" *ngFor="let item of totals">
          <h4>Subtotal = ${{ item.confirmed * item.price }}</h4>
    </div>

    <div class="ui horizontal divider"></div>


      <div class="horizontal divider"></div>

      <div class="row">
        <h4 >Free Shipping</h4>
      </div>

      <div class="ui horizontal divider"></div>

      <div class="row">
        <h4 >Total = ${{getTotal()}} </h4>
      </div>






  </div>

</div>
