<div class="container">

  <div class="ui grid">

    <div class="row two column">

      <div class="column" style="zoom: 0.7" >
            <img src="http://placehold.it/500x500" />
      </div>


      <div class="column">

          <h1>{{ item._id }}</h1>
          <h1>{{ item.price }}</h1>
          <h1>{{ item.title }}</h1>
          <h1>Orders = {{ item.order }}</h1>

          <div class="content">


            <div class="ui action input" >
              <input type="number"  [(ngModel)]="qty"  >

              <button (click)="onck()"  class="ui black labeled icon button">
                <i class="cart icon"></i>
               Add To Cart
              </button>

            </div>

            <h1>{{qty}}</h1>






          </div>

      </div>


    </div>


  </div>

  <div class="ui divider"></div>

  <div class="container">
    <p>{{item.description}}</p>
  </div>

</div>
