<div class="container">

  <div class="ui one column grid">

    <div class="column five wide"  style="position: absolute; left:450px">
      <app-small></app-small>
    </div>

  </div>

  <div class="ui two column grid">

    <div class="row two column">

      <div class="column four wide" style="zoom: 0.6" >
            <img src="http://placehold.it/500x500" />
      </div>


      <div class="column five wide">

          <h1>${{ item.price }}</h1>
          <h1>{{ item.title }}</h1>
          <h1>Orders = {{ item.order }}</h1>

          <div class="content">


            <div class="ui action input" >
              <input type="number"  [(ngModel)]="qty"  >

              <button (click)="onck()"  class="ui black labeled icon button">
                <i class="cart icon"></i>
               Add To Cart
              </button>

            </div>



          </div>

      </div>





    </div>

    <div class="eight wide column">
      <div class="container">
        <p>{{item.description}}</p>
      </div>

    </div>


  </div>



  <div class="ui divider"></div>



</div>





