<div class="ui segment">

  <h1>Product Listing</h1>


  <div class="ui celled table">

    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    </thead>

    <tbody >
    <tr   *ngFor="let item of items "  >
      <td>
        <i (click)="onCloseItem(item._id)" class="close icon link"></i>
      </td>

      <td>
        <h4>{{item.title}}</h4>
      </td>

      <td>
        <h4 >${{item.price}}</h4>
      </td>

      <td>
        <h4 >Quantity = {{item.order}}</h4>
      </td>

      <td>
        <h4 >Subtotal = ${{item.order * item.price}}</h4>
      </td>

    </tr>
    </tbody>



    <button *ngIf="check()" (click)="onUpdate()" class="ui button" >
      Update Cart
    </button>



  </div>



</div>





