<div class="ui segment"  style="right: -300px;  zoom:0.8">

    <h3>Cart</h3>

  <div class="ui clearing divider"></div>

  <div class="ui grid">

    <div class="row" *ngFor="let item of items">

       <i (click)="onCloseItem(item._id)"  class="close icon link"></i>
      <h3 class="content">{{item.title}}</h3>
      <h4 class="content">{{item.order}} x ${{item.price}}</h4>
      <div class="ui clearing divider"></div>
    </div>

  </div>

  <div class="ui clearing divider"></div>

  <div *ngIf="check()">
    <button (click)="onCheckout()" class="ui button">Checkout</button>
  </div>

</div>
