<div class="ui card"  style="zoom:0.8;" >

  <div  (click)="nav(item._id)" class="image">
    <img src="{{item.picture}}" />
  </div>

  <div class="content">
   <a><h4 (click)="nav(item._id)"  class="header">{{ item.title }}</h4></a><br/>

    <div class="description">
      <h4>${{item.price}}</h4>
      <h4>Orders = {{item.order}}</h4>
    </div>

   </div>



   <div class="extra content">
    <a (click)="onClick()" >
      <i class="cart icon"></i>
      Add To Cart
    </a>

  </div>

</div>
